// Light theme
$primary-color: #f1eeef; 
$secondary-color: #041c5a; 
$background-color: #F2F6FF; 
$text-color: #10166a; 
$secondary-text-color: #f3efef;

// Dark theme
$dark-primary-color: #041c5a; 
$dark-secondary-color: #f56479; 
$dark-background-color: #151616; 
$dark-text-color: #f1f1f1; 
$dark-secondary-text-color: #10166a;

//For buttons
$border-radius: 7px;






